@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('../css/flaticon.css');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base{
    html{
        height: 100%;
    }

    body{
        background: #21D4FD fixed;
        background: linear-gradient(to top, #30cfd0 0%, #330867 100%) fixed;
        background-repeat: no-repeat;
        font-weight: 400;
        @apply text-gray-900;
    }

    h1{
        @apply font-bold
    }

    h2{
        @apply font-semibold
    }

    h3{
        @apply font-medium
    }

    .projects-slider .slick-track{
        @apply flex items-center;
    }

    .projects-slider img.slide{
        width: auto !important;
        display: block !important;
    }
};

@layer utilities{
    .bg-intro{
        background-color: #212121
    }
}