@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        height: 100%;
    }

    body{
        height: 100%;
        background: #003973 fixed;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #E5E5BE, #003973) fixed;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #E5E5BE, #003973) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-repeat: no-repeat;
    }
}

@layer utilities{
    .bg-intro{
        background-color: #212121
    }
}